*{
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: rgb(0, 0, 0);
}
.for label{
    background-color: rgba(241, 240, 240,0.1);
    font-weight: bold;
}
.bac{
    width: 100%;
}

input{
    font-size: large;
    padding-left: 10px;
    height: 50px;
    border-radius: 30px;
    background-color:rgba(241, 240, 240,0.1);
}
.for{
    width: 40%;

    margin-left: 450px;
    margin-right: 450px;
    margin-top: 60px;
    margin-bottom: 100px;
    border: 3px solid black;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    row-gap: 20px;
    background-color: azure;
    padding: 5%;
    color: rgb(255, 255, 255);
}

.flx{
    color: rgb(255, 255, 255);
    background-color: white;
    display: flex;
    padding: 20px;
    list-style: none;
    justify-content: space-around;
}
.flx li{
    background-color:white;
    display: flex;
    column-gap: 20px;
    align-items: center;
}


.flx label{
    padding-top: 5px;
    background-color: rgba(254, 254, 254, 0.1);
    color:black;
    font-size: large;
    font-weight: bolder;
}
.sum{
    background-color: white;
    color: black;
    width: 70px;
    height: 50px;
    border-radius: 20px;
    align-self: center;
}